/* Footer.css */
.custom-footer {
    background-color: #121212;
  }
  
  .footer-logo {
    width: 300px;
    height: 300px;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Horizontally center the content */
    text-align: center; /* Center text */
  }
  
  .footer-text {
    font-family: "Century Gothic", sans-serif;
    color: white;
  }
  
  @media screen and (max-width: 768px) {
    .footer-logo {
      width: 200px;
      height: 200px;
    }
  
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer-text {
      font-size: 0.8rem;
      margin-top: 10px;
    }
  }
  