/* Navbar.css */
.navbar {
  justify-content: space-between;
  padding: 10px;
  align-items: center; /* Center items vertically */
}

.nav-brand {
  display: flex;
  align-items: center;
}

.nav-brand img {
  width: 100px;
  height: auto;
}

.menu-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.hidden {
  display: none;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
      flex-direction: row;
      justify-content: center;
  }

  .nav-brand {
      justify-content: center; /* Adjust margin to 5% on the right */
  }

  .navcen{
    justify-items: center;
  }
  
  .hidtitle{
    display: none;
  }
  .logoadjust{
    
    justify-content: center;
  }
}
