@font-face {
  font-family: 'Mogent';
  src: url("../assets//fonts/Mogent.otf");
}

.custom-font {
  font-family: Mogent;
  letter-spacing: 1px;
}

.underline-effect {
  position: relative;
  color: #D1547E;
}

.underline-effect::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #D1547E;
  transition: all 0.4s ease-in-out;
  left: 50%;
  bottom: -5px;
}

.underline-effect:hover::after {
  width: 100%;
  left: 0;
}

.underline-effect-pink {
  position: relative;
  color: #D1547E;
}

.underline-effect-pink::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #D1547E;
  transition: all 0.4s ease-in-out;
  left: 50%;
  bottom: -5px;
}

.underline-effect-pink:hover::after {
  width: 100%;
  left: 0;
}